<diV class="pt-4 back center-pos">
  <div class="container">
    <div class="card-deck">
      <div class="card cards">
        <div class="card-body text-center">
          <div class="hello ml-2">Hello</div>
          <!-- <div class="name font-weight-bold ml-2">Renny</div> -->
          <div class="date ml-2">{{ getCurrentDate() }}</div>
          <div class="border-bottom mt-3"></div>
          <div class="row">
            <div class="col-sm-6 border-right mt-2">
              <span class="num ">{{ this.allLength }}</span>
              <div class="task">CREATED TASKS</div>

              <div class="mt-3 border-top">
                <div class="mt-3">
                  <i class="fas fa-book icon"></i>
                  <a href="#" class="all"> All Schedule</a>
                  <div class="num-size">{{ this.allLength - this.completed }} TASKS</div>
                </div>
              </div>
              <div class="mt-3 border-top">
                <div class="mt-3">
                  <i class="fas fa-user icon"></i>
                  <a href="#" class="all" (click)="filter('personal')"> Personal Errands</a>
                  <div class="num-size">{{ this.personal }} TASKS</div>
                </div>
              </div>
              <div class="mt-3 border-top">
                <div class="mt-3">
                  <i class="fas fa-briefcase icon"></i>
                  <a href="#" class="all" (click)="filter('work')"> Work Projects</a>
                  <div class="num-size">{{ this.work }} TASKS</div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 mt-2">
              <span class="num ">{{ completed }}</span>
              <div class="task">COMPLETED TASKS</div>
              <div class="mt-3 border-top">
                <div class="mt-3">
                  <i class="fas fa-book-open icon"></i>
                  <a href="#" class="all" (click)="filter('school')"> School</a>
                  <div class="num-size">{{ this.school }} TASKS</div>
                </div>
              </div>
              <div class="mt-3 border-top">
                <div class="mt-3">
                  <i class="fas fa-shopping-bag icon"></i>
                  <a href="#" class="all" (click)="filter('shopping')"> Grocery List</a>
                  <div class="num-size">{{ this.shopping }} TASKS</div>
                </div>
              </div>
              <div class="mt-3 border-top">
                <div class="mt-3">
                  <i class="fas fa-shopping-bag icon"></i>
                  <a href="#" class="all"> Others</a>
                  <div class="num-size">{{ this.other }} TASKS</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card cards scroll">
        <div class="card-body text-center">
          <p class="card-text font-weight-bold task-head">Work Projects</p>
          <div class="d-flex justify-content-around pt-4">
            <a href="#" class="sub-head" (click)="getAll()">ALL</a>
            <a href="#" class="sub-head" (click)="getProgress()">IN PROGRESS</a>
            <a href="#" class="sub-head" (click)="getCompleted()">COMPLETED</a>
            <a href="#" class="sub-head" (click)="getByPriority()">PRIORITY</a>
          </div>
          <diV class="border-bottom mt-2"></diV>

          <!--loading-->
          <div *ngIf="innerLoading" class="text-center p-5">
            <span class="spinner-border spinner-border-sm text-success"></span>
            <div>Loading</div>
          </div>

          <div class="text-left mt-2">
            <li *ngFor="let task of tasks; index as i" class="li-items mt-3">
              <div class="expanded-text">
                <span class="short-name">
                  <i class="far fa-circle icon"></i>
                  <span class="heading p-2">{{ task.task }}</span>
                  <div class="category ml-4">{{ task.category }}</div>
                </span>
                <span class="longer-name">
                  <i class="far fa-circle icon"></i>
                  <span class="heading p-2">{{ task.task }}</span>
                  <div class="category ml-4">{{ task.category }}</div>
                  <div class="d-flex justify-content-around time mt-2">
                    <div>
                      <i class="fas fa-calendar-alt"></i>
                      <span> {{ getDate(task.date.due) }}</span>
                    </div>
                    <div><i class="far fa-clock"></i> 00:00</div>
                  </div>
                  <div class="d-flex justify-content-around edit mt-2">
                    <a (click)="setTaskToEdit(task)"><abbr title="Edit"><i
                          class="fas fa-edit"></i></abbr></a>
                    <a *ngIf="!task.completed" (click)="markCompleted(i)">
                      <abbr title="Mark as completed"><i class="fas fa-check-circle"></i></abbr></a>
                  </div>
                </span>
                <div class="border-bottom mt-3"></div>
              </div>
            </li>
          </div>
        </div>
      </div>
      <div class="card cards">
        <div class="card-body text-center">
          <p class="card-text font-weight-bold task-head" id="heading">Add a new Task</p>
          <form method="dialog">
            <div class="form__group field">
              <input type="input" class="form__field" placeholder="Category" name="category" id="category"
                (keyup)="enterCategory($event)" required />
              <label for="category" class="form__label">Category (Personal, Grocery, Work)</label>
            </div>
            <div class="form__group field">
              <input type="input" class="form__field" placeholder="event" name="event" id="event"
                (keyup)="enterEvent($event)" required />
              <label for="event" class="form__label">Event</label>
            </div>
            <div class="form__group field">
              <input type="date" class="form__field" placeholder="Date" name="date" id="date" (blur)="enterDate($event)"
                required />
              <label for="date" class="form__label">Date</label>
            </div>
            <div class="form__group field">
              <input type="time" class="form__field" placeholder="Time" name="time" id="time" required />
              <label for="time" class="form__label">Time</label>
            </div>
            <div class="form__group field">
              <input type="text" class="form__field" placeholder="Priority" name="priority" id="priority"
                (keyup)="enterPriority($event)" required />
              <label for="priority" class="form__label">Priority (low, medium, high)
              </label>
            </div>
            <button *ngIf="showAdd" class="btn btn-bubble mt-3" (click)="add()">Add Task</button>
            <button *ngIf="!showAdd" class="btn btn-bubble mt-3" (click)="update()">Update Task</button>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</diV>

<div *ngIf="showLoading" class="container-fluid bg-loading center-pos">
  <div>
    <span class="spinner-border spinner-border-xl text-success spinner-size"></span>
    <p class="text-center pt-3 text-light font-weight-bolder">Loading</p>
  </div>
</div>
